@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Hs-Regular',sans-serif;
}
.bar{
    width:100px;
    height:3000px;
    position:relative;
    left: 10px;
    background:linear-gradient(orange,black);

}

/*컨테이너 공통속성*/
body>div:not(.bar){
    width:100%; 
    height:70px;
    position:fixed;
    /*flex 속성*/
    display:flex; 
    align-items:center;
    flex-wrap:nowrap;/*default값*/
    flex-direction:row;
    justify-content: space-evenly;
}


body{
    height: 3000px;
    margin:0;

    background-image: url('https://mblogthumb-phinf.pstatic.net/20160127_177/krazymouse_1453865104404DjQIi_PNG/%C4%AB%C4%AB%BF%C0%C7%C1%B7%BB%C1%EE_%B6%F3%C0%CC%BE%F0.png?type=w2');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:right 10px top 50px;
    background-size: contain;
}
/*컨테이너 개별속성*/
.container_1{
    background-color:aquamarine;
    top:0px;
}

.container_2{ 
    background-color:coral;
    bottom:0px;
}


/*item공통속성*/
div>div{
    border-radius: 30px;
    font-weight: 700;
    height: 50px;
    background-color: rgb(78, 70, 70);
    text-align: center;
    line-height: 50px;
    font-size: 1.3rem;
}


/*하단 메뉴바(.item2) 비율맞추기(1 1 1 2)*/
/*flex-basis와 같이 봐야 함!*/
.container_2>.item2:not(:nth-child(4)){
    flex-grow: 1;
}

.container_2>.item2:nth-child(4){
    flex-grow: 2;
}

/*개별 item 속성*/
.item1{
    background-color: black;
    color:aquamarine;
    flex-basis: 150px;

}

.item2{
    flex-basis:0;
    background-color: rgb(106, 101, 101);
    color:coral;
}

/*hover*/
.item1:hover{
    background-color:tomato;
    cursor:pointer;
}

.item2:hover{
    background-color: royalblue;
    cursor:pointer;
}



